<div class="outer">
	<div class="content">
		<div>
			<p></p>
		</div>
		<form>
			<div class="contact-d">
				<h3 class="contact-title">What's your name?</h3>
				<input type = "text" class="contact-form" placeholder="Kanye West"></input>
			</div>
			<div class="contact-d">
				<h3 class="contact-title">How should I contact you?</h3>
				<input type="text" placeholder="Yeezy@kanyewest.com" class="contact-form"></input>
			</div>
			<div class="contact">
				<h3 class="contact-title">What to you need?</h3>
				<textarea  id="content" class="contact-form" placeholder="I have an idea..."></textarea>
			</div>
		</form>
		<div class="next">
			<hr>
			<a class="nextbutton" href="">SEND IT</a>
		</div>
	</div>
</div>