<div class="outer">
	<div class="content">
		<div class="provided">
			
		</div>
		<form>
			<div id="name" class="contact slide-in">
				<h3 class="contact-title">What's your name?</h3>
				<input id="input-name" type = "text" class="contact-form" placeholder="Kanye West"></input>
			</div>
			<div id="email" class="contact-d">
				<h3 class="contact-title">How should I contact you?</h3>
				<input id="input-email" type="text" placeholder="Yeezy@kanyewest.com" class="contact-form"></input>
			</div>
			<div id="text" class="contact-d">
				<h3 class="contact-title">What to you need?</h3>
				<textarea  id="input-message" class="contact-form" placeholder="I have an idea..."></textarea>
			</div>
		</form>
		<div class="next">
			<hr>
			<a class="nextbutton" href="#">NEXT</a>
		</div>
	</div>
</div>