<header>
	<div class="outer">
		<h1 class="centered name <% if @notloaded %> name-an <% end %>"><a href="/" class="l">Hi, I'm Matt Faluotico</a></h1>
		<h2 class="centered tag">i like making things</h2>
		<nav class="centered links">
			<div class="socials">
				<a class = "social twitter <% if @notloaded %> social-an-1 <% end %>" href="https://twitter.com/intent/user?user_id=201872823" target="_blank">
					<i class="icon-twitter"></i>
				</a>
				<a class = "social github <% if @notloaded %> social-an-2 <% end %>" href="https://github.com/MattFaluotico" target="_blank">
					<i class="icon-circlegithub"></i>
				</a>
				<a class = "social facebook <% if @notloaded %> social-an-3 <% end %>" href="https://www.facebook.com/matt.faluotico" target="_blank">
					<i class="icon-circlefacebook"></i>
				</a>
				<a class = "social instagram <% if @notloaded %> social-an-4 <% end %>" href="http://instagram.com/sudo_mf" target="_blank">
					<i class="icon-instagram"></i>
				</a>
				<a class = "social linkedin <% if @notloaded %> social-an-5 <% end %>" href="https://www.linkedin.com/in/matthewfaluotico" target="_blank">
					<i class="icon-linkedin"></i>
				</a>
				<a class = "social email <% if @notloaded %> social-an-6 <% end %>" href="mailto:matt.faluotico+p@gmail.com">
					<i class="icon-emailalt"></i>
				</a>
				<a class = "social spotify <% if @notloaded %> social-an-7 <% end %>" href="http://open.spotify.com/user/mpfal" target="_blank">
					<i class="icon-spotify"></i>
				</a>
				<a class = "social soundcloud <% if @notloaded %> social-an-8 <% end %>" href="https://soundcloud.com/faluotico" target="_blank">
					<i class="icon-soundcloud"></i>
				</a>
			</div>
			<hr/>
			<div class="links">
				<a href="/me" class="link">ME</a>
				<a href="/contact" class="link"> LET'S TALK</a>
				<a href="/work" class="link">WORK</a>
				<a href="/cv" class="link">CV</a>
			</div>
		</nav>
	</div>
</header>