<div class="home-img">
</div>
<div class="outer">
		<div class="tweet-house">
			<p id="tweet" class="tweet">Tweets from @sudo_mf</p>
			<p class="tweet-tag"><span  id="tweet-date" >DATE</span> <a id="tweet-link"href=""><i class="icon-twitter"></i></a></p>
		</div>
</div>