<div class="outer">
	<h1 class="centered name name-an">Hi, I'm Matt Faluotico</h1>
	<nav class="centered links">
		<ul>
			<a class = "social twitter social-an-1" href="https://twitter.com/intent/user?user_id=201872823" target="_blank">Twitter</a>
			<a class = "social github social-an-2" href="https://github.com/MattFaluotico" target="_blank">GitHub</a>
			<a class = "social facebook social-an-3" href="https://www.facebook.com/matt.faluotico" target="_blank">Facebook</a>
			<a class = "social instagram social-an-4" href="http://instagram.com/sudo_mf" target="_blank">Instagram</a>
			<a class = "social linkedin social-an-5" href="https://www.linkedin.com/in/matthewfaluotico" target="_blank">LinkedIn</a>
			<a class = "social email social-an-6" href="mailto:matt.faluotico+p@gmail.com" target="_blank">Email</a>
			<a class = "social spotify social-an-7" href="http://open.spotify.com/user/mpfal" target="_blank">Spotify</a>
			<a class = "social soundcloud social-an-8" href="https://soundcloud.com/faluotico" target="_blank">Soundcloud</a>
		</ul>
	</nav>
</div>