<head>
	<title>Matt Faluotico</title>
	<link rel="stylesheet" type="text/css" href="main.css"/>
	<link rel="stylesheet" href="whhg.css"/> 
	<script src="js/jquery.min.js"></script>
	<script src="js/mjs.js"></script>
</head>
<body>
	<%= erb :header %>
	<%= yield %>
</body>